extends layout

block content 
  div.container 
    h1 #{message} #{title} 
    input(type="hidden", value=nouser, id="nu") 
     
    
  div.container
    .row
      .col-md-4.mood-div
        h2= currMood.label
      .col-md-4.col-md-push-4
        img.profile_image.img-rounded(src=userpic)  
  
  div.container
    form.form-horizontal(action="", method="post", role="form", id="add_friend")
      .form-group        
        input.form-control(name="add_friend_btn", rows="5", type="hidden")
      button.btn.btn-default.btn-sm#friendButton #{frBtnStr}  
      div.container
          h3 Rings 
          //a(href="/"+currMood._id+"/comment/"+fr._id+"/new").btn.btn-default.btn-sm Ring on Mood
          input#commFriendBtn.btn.btn-primary(type='button', name='combtn', value='Ring on Mood', data-toggle='modal', data-target='#friend-submit-comm')
          include friend_page_comment
          include editable_comments.jade 
