extends layout

block content
  
  h1 #{message} #{fr.username}#{title}
  p "Hi there"
  
  div.container
    form.form-horizontal(action="", method="post", role="form", id="add_friend")
      .form-group        
        input.form-control(name="add_friend_btn", rows="5", type="hidden")
      button.btn.btn-default.pull-left Add as friend
  
  div.container
    p= lastestFrMood.label
    
  div.container
    h3 Comments 
    a(href="/"+lastestFrMood._id+"/comment/new") Comment on Mood
    .row
      .row.list-group
        each com in lastestFrMood.comments
          .list-group-item
            p= com.comment 
            p= com.postedBy.username
            
            a(href="/"+lastestFrMood._id+"/comment/"+com._id+"/commentoncomment/new")   Comment on Comment 
                      
            each comOncom in com.commentsOnComments
              .list-group-item
                p= comOncom.commentOnComment 
                p= comOncom.postedBy.username
                

  
