extends layout

block content 
  div.container 
    h1 #{message} #{title} 
    input(type="hidden", value=nouser, id="nu") 
     
    
  div.container
    .row
      .col-md-4.mood-div
        h2= currMood.label
      .col-md-4.col-md-push-4
        img.profile_image.img-rounded(src=userpic)  
  
  div.container
    form.form-horizontal(action="", method="post", role="form", id="add_friend")
      .form-group        
        input.form-control(name="add_friend_btn", rows="5", type="hidden")
      button.btn.btn-default.btn-sm#friendButton #{frBtnStr}  
      div.container-fluid
          h3 Rings           
          input.commBtn.btn.btn-primary(type='button', name='frcombtn', value='Ring on Mood', data-toggle='modal', data-target='#confirm-submit-comm')          
          include editable_comments          
          include page_comment
          
