extends layout

block content
  div
    h1.header-font #{user.username}'s #{title}    
    input(type="hidden", value=nouser, id="nu")
    
    div.container
     .row
     .col-xs-12.col-md-6
      .row.list-group
      each f in friends
        .list-group-item            
          a(href="/friend/"+f._id) 
           img.profile_thumb.img-rounded(src=f.pic)  
           | #{f.username}
