extends layout

block content
  div
    h1= title
    p #{message} #{title}
    p #{user}
    p #{currMood.label}    
    
    div.container
      div
        form.form-horizontal(action="", method="post", role="form", id="addMood")
          input(type="hidden", value=currMood.label, id="cm")
          .form-group  
              .input-prepend.input-append
              
                select(data-style="btn-info", name="label", id="moodChoices").pull-left
                  optgroup(label="Select Mood")
                    each name, ix in moodMap
                      option(hex=name.colorHex, fonthex=name.fontHex, lab=name.label)= name.label                          
          button.btn.btn-default.pull-left Submit Mood    
    div.container
      h3 Comments 
      a(href="/"+currMood._id+"/comment/new") Comment on Mood
      .row
        .row.list-group
          each com in currMood.comments
            .list-group-item
              p= com.comment 
              p= com.postedBy.username
                           
              a(href="/"+currMood._id+"/comment/"+com._id+"/commentoncomment/new")   Comment on Comment 
                        
              each comOncom in com.commentsOnComments
                .list-group-item
                  p= comOncom.commentOnComment 
                  p= comOncom.postedBy.username                
                  
          
