extends layout

block content
  div.container-fluid
    h1 Welcome Back, #{user}!    
    input(type="hidden", value=nouser, id="nu")  
  
    div.container-fluid
      .div.col-xs-12.col-sm-4
         a(href="/image")
          img.profile_image.img-rounded.pull-xs-left(src=userpic)
    
  div.container-fluid
    .div.col-xs-12.col-sm-4.mood-div
      form.form-horizontal(action="", method="post", role="form", id="addMood")
        input(type="hidden", value=currMood.label, id="cm")
        .form-group  
          .input-prepend.input-append             
            select(name="label", id="moodChoices").form-control
              optgroup(label="Select Mood")
                each name, ix in moodMap
                  option(hex=name.colorHex, fonthex=name.fontHex, lab=name.label)= name.label                          
        div#confirm-submit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                | moodRing!
              .modal-body
                | Are you sure you want to change your mood?
                
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                a#submitmd.btn.btn-success.success(href='#') Submit
        //button.btn.btn-default.btn-sm#submitmoodbutton Submit Mood  
        input#submitBtn.btn.btn-primary(type='button', name='btn', value='moodChange', data-toggle='modal', data-target='#confirm-submit') 
  div.container-fluid
    h3 Rings     
    input.commBtn.btn.btn-primary(type='button', name='combtn', value='Ring on Mood', data-toggle='modal', data-target='#confirm-submit-comm')
    include page_comment
    include _includes/sharedHTMLfunctions
    div.col-xs-12    
      .row.list-group
        each com in currMood.comments
          .list-group-item#coms
            p.CommText= com.comment 
            p - #{com.postedBy.username} @
              +formatDate(com.createdAt) 
            a.commcommBtn(data-com-id="/#{currMood._id}/comment/#{com._id}/commentoncomment/#{userid}/new", data-toggle='modal', data-target='#confirm-submit-comm-comm').btn.btn-primary.btn-sm Ring on Ring 
            include page_comment_comment
            div          
              each comOncom in com.commentsOnComments
                .list-group-item#comsoncoms
                  p.CommText= comOncom.commentOnComment 
                  p - #{comOncom.postedBy.username} @
                    +formatDate(com.createdAt)
            
    
    
  
    
