extends layout

block content
  div
    h1= title
    p #{message} #{title}
    
    div.container
      div
        .input-prepend.input-append
          .btn-group
            ul.nav.pull-left: .dropdown
              button.btn.btn-primary.dropdown-toggle( data-toggle="dropdown") 
                span.caret
              ul.dropdown-menu#moodChooser
                each name, ix in moodMap
                  li: a(href='#', hex=name.colorHex, fonthex=name.fontHex)= name.label
            
  
  script(src='/javascripts/jquery-1.11.1.min.js')             
  script(src='/javascripts/changeRingColor.js')            
            
          
    
