extends layout

block content
  div.container-fluid
    h1 Welcome Back, #{user}!    
    input(type="hidden", value=nouser, id="nu")  
  
    div.container-fluid
      .div.col-xs-12.col-sm-4
         a(href="/image")
          img.profile_image.img-rounded.pull-xs-left(src=userpic)
    
  div.container-fluid
    .div.col-xs-12.col-sm-4.mood-div
      form.form-horizontal(action="", method="post", role="form", id="addMood")
        input(type="hidden", value=currMood.label, id="cm")
        .form-group  
          .input-prepend.input-append              
            select(name="label", id="moodChoices").form-control
              optgroup(label="Select Mood")
                each name, ix in moodMap
                  option(hex=name.colorHex, fonthex=name.fontHex, lab=name.label)= name.label                          
        button.btn.btn-default.btn-sm Submit Mood  
  div.container-fluid
    h3 Rings 
    a(href="/"+currMood._id+"/comment/"+userid+"/new").btn.btn-default.btn-sm Ring on Mood 
    include editable_comments.jade   
