extends layout

block content 
  include _includes/sharedHTMLfunctions
  div.container 
  h1 #{user}'s moodFeed!  
  input(type="hidden", value=nouser, id="nu")
  - allComments.sort(function(a,b){
  -  if (a.updatedAt < b.updatedAt) {
  -    return 1;
  -  }
  -  if (a.updatedAt > b.updatedAt) {
  -    return -1;
  -  }      
  -  return 0;
  - });        
  each comment in allComments     
    .list-group-item#coms
      p @ 
        +formatDate(comment.createdAt)
        |, #{comment.postedBy.username} said on #{comment.friend}'s mood:
      p.CommText #{comment.comment}      
       
      each comcom in comment.commentsOnComments
        .list-group-item#comsoncoms
          p @
            +formatDate(comcom.createdAt)
            |,#{comcom.postedBy.username} said:
          p.CommText #{comcom.commentOnComment}
          
    
            
