extends layout

block content
  
  h1 #{title}  
  
  div.container.mood-div
    h2= md.label
    p Mood began #{md.createdAt}
    input(type="hidden", value=nouser, id="nu")
    
  div.container
    h3 Rings 
    
    .row
      .row.list-group
        each com in md.comments
          .list-group-item#coms
            p= com.comment 
            p POSTED BY: #{com.postedBy.username}
            each comOncom in com.commentsOnComments
              .list-group-item#coms
                p= comOncom.commentOnComment 
                p POSTED BY: #{comOncom.postedBy.username}
                

  
