extends layout

block content
  
  h1 #{title}  
  
  div.container.mood-div
    h2= md.label
    p Mood began #{date}
    input(type="hidden", value=nouser, id="nu")
    
  div.container
    h3 Rings 
    
    .row
      .row.list-group
        each com in md.comments
          .list-group-item#coms
            p.CommText= com.comment 
            p - #{com.postedBy.username}
            each comOncom in com.commentsOnComments
              .list-group-item#comsoncoms
                p.CommText= comOncom.commentOnComment 
                p - #{comOncom.postedBy.username}
                

  
